div {border: solid;}
#eaDiv {background-color: gray;}
.highlight {background-color: yellow;}
#turn_counter {background-color: lightgray}
#system1 {opacity: 0.3}
#system2 {opacity: 0.3}
#system3 {opacity: 0.3}
#system4 {opacity: 0.3}
